@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    @apply bg-lightaccent text-primary;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    @apply bg-accent text-primary;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-accent text-primary;
  }
}

.calculator, .result {
    @apply bg-primary text-xl;
    padding: 15px;
    border-radius: 8px;
    height: 100%;
    width: 500px;
}

.calculator .form-shown {
  height: 100%;
}

.calculator .form-hidden {
  height: 0%;
  transition: all 1s;
}
  
.calculator .input-group {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.calculator .input-group label {
  margin-bottom: 16px;
}

.calculator label {
  @apply text-gray;
  top: 1.5rem;
  transition: .25s ease;
}

.calculator input,
.calculator select {
  border-bottom: 2px solid theme("colors.accent");
  font-size: 1.125rem;
  @apply bg-neutral;
  border-radius: 3px;
  padding: 8px 8px;
}

.calculator .action-group {
  margin-top: 2rem;
}

.calculator button {
  font-size: 1.25rem;
  padding: 10px 20px; 
  font-weight: 700;
  border-radius: 6px;
  border: 0;
  @apply bg-accent text-primary;
}

.result-section {
  margin-top: 3em;
}

.results {
  @apply bg-primary;
  overflow: auto;
  margin: 0;
  width: 100%;

  @apply bg-primary;
  border-radius: 8px;
}

.results table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  height: 1000vh;
}

.results th {
  border-top: 2px solid theme("colors.primary");
  border-bottom: 2px solid theme("colors.primary");
  border-right: 2px solid theme("colors.primary");
}

.results td {
  border-bottom: 2px solid theme("colors.primary");
  border-right: 2px solid theme("colors.primary");
}

.results th:first-child,
.results td:first-child {
  border-left: 2px solid theme("colors.primary");
}

.results th, td {
  padding: 0.5em;
}

.main-table-row {
  position: sticky;
  top: -1.25rem;
  @apply bg-secondary;
}

.results-hidden {
  height: 0px;
  padding: 0px;
  border: 0px solid theme("colors.accent");
}

.results-shown {
  height: 95vh;
  padding: 1em;
  border: none;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content .info {
  width: 450px;
  padding-top: 32px;
}

.content .info h1 {
  font-size: xx-large;
}

.content .info2 {
  margin-top: 32px;
  font-size: large;
}

.content .info2 > span {
  font-size: x-large;
}

.calculator .add-extra-payment {
  flex-direction: row;
  justify-content: space-between;
}

.plus-button {
	border: 2px solid theme("colors.accent");
	background-color: theme("colors.neutral");
	font-size: 16px;
	height: 2.5em;
	width: 2.5em;
	border-radius: 999px;
	position: relative;
  cursor: pointer;
}

.plus-button:after,
.plus-button:before {
  content: "";
  display: block;
  background-color: theme("colors.accent");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plus-button:hover:after,
.plus-button:hover:before {
  background-color: theme("colors.neutral");
}

.plus-button:before {
  height: 1em;
  width: 0.2em;
}

.plus-button:after {
  height: 0.2em;
  width: 1em;
}

.plus-button:hover {
  background-color: theme("colors.accent");
}

.calculator .extra-payment-form {
  padding: 15px;
  margin-top: 10px;
  border: 1px solid theme("colors.accent");
}

.calculator .extra-payment-form .extra-payment-input {
  padding-top: 5px;
}

