@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    @apply bg-gray text-primary;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    @apply bg-accent text-primary;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-accent text-primary;
  }
}


.calculator {
    @apply bg-primary text-xl;
    padding: 15px;
    border-radius: 15px;
    height: 100%;
  }

.calculator .form-shown {
  height: 100%;
}

.calculator .form-hidden {
  height: 0%;
  transition: all 1s;
}
  
.calculator .input-group {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}

.calculator input {
  @apply bg-neutral;
}

.calculator label {
  @apply text-gray;
  top: 1.5rem;
  transition: .25s ease;
}

.calculator input {
  border-bottom: 2px solid theme("colors.accent");
  font-size: 1.125rem;
  padding: .25rem 0;
}

.calculator .action-group {
  margin-top: 2rem;
}

.calculator button {
  font-size: 1.25rem;
  padding: 1em;
  width: 100%;
  font-weight: 700;
  border-radius: 6px;
  border: 0;
  @apply bg-accent text-primary;
}

.calculator .results {
  margin-top: 2rem;
  overflow: auto;
  transition: all 1s;
}

.calculator .results table {
  border-collapse: separate;
  border-spacing: 0;
}

.calculator .results th {
  border-top: 2px solid theme("colors.primary");
  border-bottom: 2px solid theme("colors.primary");
  border-right: 2px solid theme("colors.primary");
}

.calculator .results td {
  border-bottom: 2px solid theme("colors.primary");
  border-right: 2px solid theme("colors.primary");
}

.calculator .results th:first-child,
.calculator .results td:first-child {
  border-left: 2px solid theme("colors.primary");
}

.calculator .results th, td {
  padding: 0.5em;
}

.calculator .main-table-row {
  position: sticky;
  top: -1.25rem;
  @apply bg-secondary;
}

.calculator .results-hidden {
  height: 0px;
  padding: 0px;
  border: 0px solid theme("colors.accent");
}

.calculator .results-shown {
  height: 15em;
  padding: 1em;
  border: 2px solid theme("colors.accent");
}