.login-wrapper {
    width: 500px;
    @apply bg-primary;
    border-radius: 8px;
    border: 1px solid theme("colors.accent");
    padding: 16px;
}

.body {
    @apply text-xl;
}

.head {
    width: 100%;
    border-bottom: 1px solid theme("colors.accent");
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.body button {
  font-size: 1.25rem;
  padding: 10px 20px; 
  font-weight: 700;
  border-radius: 15px;
  border: 0;
  @apply bg-accent text-primary;
  margin: auto;
  display: block;
  width: 50%;
}

.head a {
    margin-right:auto;
}

.head a:hover {
    cursor: pointer;
}

.head label {
    margin-top: 16px;
    @apply text-xl;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.input-group input {
    height: 40px;
    border-radius: 8px;
}

.login-page {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
}

.strike {
    margin-top: 16px;
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: theme("colors.accent");
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

#register {
    margin-top: 16px;
    @apply bg-primary text-gray;
}